@charset "utf-8";
/* CSS Document */

  /* The main calendar widget.  DIV containing a table. */

           .calendar {
            	position:relative;
  				display: block;
  				border-top: 1px solid #313131 !important;
  				border-right: 1px solid #313131 !important;
  				border-bottom: 1px solid #313131 !important;
  				border-left: 1px solid #313131 !important;
  				font-size: 11px !important;
  				color: #000 !important;
  				cursor: default !important;
  				background:white !important;
  				font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
				z-index:199 !important;}

			.calendar table {
  				border-top: 0px solid #000  !important;
  				border-right: 0px solid #fff  !important;
  				border-bottom: 0px solid #fff  !important;
  				border-left: 0px solid #000  !important;
				margin:0px; !important;
  				font-size: 11px  !important;
  				color: #000  !important;
  				cursor: default  !important;
  				background:white  !important;
  				font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif  !important; }

		      /* Header part -- contains navigation buttons and day names. */

				table .calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  					text-align: center !important;
  					padding: 1px !important;
  					border-top: 0px solid #333333 !important;
  					border-right: 0px solid #333333 !important;
  					border-bottom: 0px solid #333333 !important;
  					border-left: 0px solid #333333 !important; 
					margin-top:0px !important;
					margin-left:0px !important;
					margin-right:0px !important;
					margin-bottom:0px !important;
					display:block !important;
					position:absolute !important;
				}

				.calendar .nav {
  					background: transparent url(menuarrow.gif) no-repeat 100% 100% !important;
					display:block !important;
					position:absolute !important; 
					margin-top:0px !important;
					margin-left:0px !important;
					margin-right:0px !important;
					margin-bottom:0px !important;}

				.calendar thead .title { /* This holds the current "month, year" */
  					font-weight: bold !important;
  					padding: 0px !important;
  					border: 0px solid #000 !important;
  					background: #008CBA !important;
  					color: #fff !important;
  					text-align: center !important; }

				.calendar thead .headrow { /* Row <TR> containing navigation buttons */ 
					margin-top:0px !important;
					margin-left:0px !important;
					margin-right:0px !important;
					margin-bottom:0px !important;
				}

				.calendar thead .daynames { /* Row <TR> containing the day names */ 
					margin-top:0px !important;
					margin-left:0px !important;
					margin-right:0px !important;
					margin-bottom:0px !important;
				}

				.calendar thead .name { /* Cells <TD> containing the day names */
  					border-bottom: 1px solid #000 !important;
  					padding: 2px !important;
  					text-align: center !important;
  					background: #fff !important; }

				.calendar thead .weekend { /* How a weekend day name shows in header */
					color:#000 !important; }

				.calendar thead .hilite { /* How do the buttons in header appear when hover */
  					border-top: 0px solid #fff !important;
  					border-right: 0px solid #000 !important;
  					border-bottom: 0px solid #000 !important;
  					border-left: 0px solid #fff !important;
  					padding: 1px !important;
  					background-color: #F7F7F7 !important;
					display:block !important; }

				.calendar thead .active { /* Active (pressed) buttons in header */
  					padding: 1px 0px 0px 1px !important;
  					border-top: 0px solid #999 !important;
  					border-right: 0px solid #999 !important;
  					border-bottom: 0px solid #fff !important;
  					border-left: 0px solid #999 !important;
  					background-color: #F7FF7 !important;
					display:compact !important; }

			  /* The body part -- contains all the days in month. */

				.calendar tbody .day { /* Cells <TD> containing month days dates */
  					width: 2em !important;
  					text-align: right !important;
  					padding: 2px 4px 2px 2px !important; }
					
				.calendar tbody .day.othermonth {
  					font-size: 80% !important;
  					color: #fff !important; }
					
				.calendar tbody .day.othermonth.oweekend {
  					color: #faa !important; }

				.calendar table .wn {
  					padding: 2px 3px 2px 2px !important;
  					border-right: 0px solid #000 !important;
  					background: #F7F7F7 !important; }

				.calendar tbody .rowhilite td {
  					background: #fff !important; }

				.calendar tbody .rowhilite td.wn {
  					background: #F7F7F7 !important; }

				.calendar tbody td.hilite { /* Hovered cells <TD> */
  					padding: 2px 4px 2px 2px !important;
  					border-top: 0px solid #fff !important;
  					border-right: 0px solid #000 !important;
  					border-bottom: 0px solid #000 !important;
  					border-left: 0px solid #fff !important;
					background: #F7F7F7 !important; }

				.calendar tbody td.active { /* Active (pressed) cells <TD> */
  					padding: 2px 2px 0px 2px !important;
  					border-top: 0px solid #000 !important;
  					border-right: 0px solid #fff !important;
  					border-bottom: 0px solid #fff !important;
  					border-left: 0px solid #000 !important;
					background: #F7F7F7 !important; }

				.calendar tbody td.selected { /* Cell showing selected date */
  					font-weight: bold !important;
  					border-top: 0px solid #000 !important;
  					border-right: 0px solid #fff !important;
  					border-bottom: 0px solid #fff !important;
  					border-left: 0px solid #000 !important;
  					padding: 2px 4px 2px 2px !important;
  					background: #F7F7F7 !important;
					color:#008CBA !important; }

				.calendar tbody td.weekend { /* Cells showing weekend days */
  					color: #000 !important; }

				.calendar tbody td.today { /* Cell showing today date */
  					font-weight: bold !important;
  					color: #008CBA !important; }

				.calendar tbody .disabled { 
					color: #F7F7F7 !important; }

				.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  					visibility: hidden !important; }

				.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  					display: none !important; }

		      /* The footer part -- status bar and "Close" button */

				.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */ }

				.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  					background: #008CBA !important;
  					padding: 1px !important;
  					border: 0px solid #000 !important;
  					background: #008CBA !important;
  					color: #fff !important;
  					text-align: center !important; }

				.calendar tfoot .hilite { /* Hover style for buttons in footer */
  					border-top: 1px solid #fff !important;
  					border-right: 1px solid #000 !important;
  					border-bottom: 1px solid #000 !important;
  					border-left: 1px solid #fff !important;
  					padding: 1px !important;
  					background: #e4e0d8 !important; }

				.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
					padding: 2px 0px 0px 2px !important;
  					border-top: 1px solid #000 !important;
  					border-right: 1px solid #fff !important;
  					border-bottom: 1px solid #fff !important;
  					border-left: 1px solid #000 !important; }

              /* Combo boxes (menus that display months/years for direct selection) */

				.calendar .combo {
				   position: absolute !important;
 	 			   display: none !important;
  			       width: 4em !important;
  				   top: 0px !important;
  				   left: 0px !important;
  				   cursor: default !important;
  				   border-top: 1px solid #fff !important;
  			   	   border-right: 1px solid #000 !important;
  				   border-bottom: 1px solid #000 !important;
  				   border-left: 1px solid #fff !important;
  				   background: #e4e0d8 !important;
  				   font-size: 90% !important;
  				   padding: 1px !important;
  				   z-index: 100 !important; }

				.calendar .combo .label,
				.calendar .combo .label-IEfix {
  				   text-align: center !important;
  				   padding: 1px !important; }

				.calendar .combo .label-IEfix {
  					width: 4em !important; }

				.calendar .combo .active {
  					background: #c4c0b8 !important;
  					padding: 0px !important;
  					border-top: 1px solid #000 !important;
  					border-right: 1px solid #fff !important;
  					border-bottom: 1px solid #fff !important;
  					border-left: 1px solid #000 !important; }

				.calendar .combo .hilite {
  					background: #048 !important;
  					color: #fea !important; }

				.calendar td.time {
  					border-top: 1px solid #000 !important;
  					padding: 1px 0px !important;
  					text-align: center !important;
  					background-color: #f4f0e8 !important; }

				.calendar td.time .hour,
				.calendar td.time .minute,
				.calendar td.time .ampm {
  					padding: 0px 3px 0px 4px !important;
  					border: 1px solid #889 !important;
  					font-weight: bold !important;
  					background-color: #fff !important; }

				.calendar td.time .ampm {
  					text-align: center !important; }

				.calendar td.time .colon {
  					padding: 0px 2px 0px 3px !important;
  					font-weight: bold !important; }

				.calendar td.time span.hilite {
  					border-color: #000 !important;
  					background-color: #766 !important;
  					color: #fff !important; }

				.calendar td.time span.active {
  					border-color: #f00 !important;
  					background-color: #000 !important;
  					color: #0f0 !important; }

