body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .9em;
	line-height: 1.5em;
	color:#000000;
	background-color:#ffffff;
}
h1, h2, h4 {
	font-family:Trebuchet MS;
}
h1 {
	font-size:1.5em;
	text-align:center;
}
h2 {
	font-size:1.3em;
	border-bottom:1px solid #000000;
	padding-bottom:.2em;
	margin-top:2em;
}
h4 {
	font-size:1em;
	font-style:italic;
	text-align:center;
}