$peach: #FFBC82;
$blue: #008cba;
$green: #43ac6a;
$red: #f04124;
$grey: #EBEBEB;
$white: #ffffff;  


//Global county colors with/without hover
  g path {
      fill: $grey;
      
      &:hover {
          fill: $blue;
      }
  }
  
  path {
      stroke-width: 1.5;
  }