g path {
  fill: #EBEBEB; }
  g path:hover {
    fill: #008cba; }

path {
  stroke-width: 1.5; }

.county_selected {
  fill: #008cba; }

.county_unlocked, .county_unlocked:hover {
  fill: #43ac6a; }

.county_selected.county_unlocked {
  fill: #FFBC82; }

/*# sourceMappingURL=style.css.map */
