body {
	width: 100%;
	font: 100% Georgia, "Times New Roman", Times, serif;
	font-family: ;
	color: #000;
	line-height: 1.5em;
	margin: 0;
	background: #eee;
}
#ext-header {
	background-color: #fff;
	width: 100%;
}
#ext-header img {
	padding: .5em 1em;
}
#header {
	background-color: #74bde2;/* #e4f8fe; */
	padding: 1em;
	text-align: center;
}
#header img {
	
}
#header p {
	font-size: .7em;
	padding-bottom: 0;
	margin: 0;
	line-height: 1em;
	padding-top: .5em;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#footer {
	background-color: #74bde2;
	height:auto;
	position:relative;
	overflow: auto;
	text-align: center;
}
#content, #footer {
	padding: 1em;
}
h1 {
	font-size: 2.25em;
	font-weight: bold;
	line-height: 1.25em;
	margin-left: .8em;
	color: #000;
}
h2, h3 {
	clear: both;
	font-weight: normal;	
	margin-top: 1em;
	line-height: 1.25em;
	color: #000;
}
h2 {
	background: #e4f8fe;
	color: #000;
	padding: .25em 2em;
	margin-left: -.85em;
	width:92.25%;
	margin-bottom: 1em;
	margin-top: 1.5em;
	border-bottom: solid #74bde2 .09em;
	border-color: #d4e8fe;
	font-weight: bold;
}
#footer h2 {
	background: none;
	color: #fff;
	margin-top: 0em;
	border: none;
	padding-left: .75em;
	/*
	margin-left:0;
	padding-left:0;
	border-bottom:.05em solid #a4a987;
	*/
}
h3 {
	font-weight: bold;
	font-size: 1em;
	margin: 2em 2em 0em 2em;
	line-height: 1.5em;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	border-bottom: solid #eee .09em;
	padding-bottom: 0em;
}
p, ul {
	font-size: 1em;
	width: auto;
	font: 1em/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 0 2em;
	margin-top: .5em;
	
}
#footer p {
	color: #fff;
}
table {
	font-size: .9em;
	border: 0;
	margin:2em 0;
/*	width: auto; */
}
table td, table th {
/*	padding: 0em .4em;
	border: 0;
	text-align: center; */
	background-color: #fff;
}
table th {
	background-color: #fff;
}
p.author {
	font-size: .9em;
	line-height: 1.25em;
	font-style: italic;
}
#footer {
	margin-top: 0;
}
#content {
	padding-bottom: 2em;
}
.tipsButton {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-weight:bold;
	background:#7fc140 url(bottom-shadow.png) repeat-x bottom;
	color:#fff;
	-moz-border-radius:.5em .5em .5em .5em;
	-webkit-border-top-left-radius:.5em;
	-webkit-border-top-right-radius:.5em;
	-webkit-border-bottom-left-radius:.5em;
	-webkit-border-bottom-right-radius:.5em;
	clear: left;
	margin: 0em;
	margin: .5em 2em;
	padding:.75em;
	display: inline-block;
	border: #45a049 solid .125em;
}
.expand-button {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-weight:bold;
	font-size: .8em;
	text-transform: uppercase;
	background:#fff url(bottom-shadow.png) repeat-x bottom;
	color:#000;
	-moz-border-radius:.5em .5em .5em .5em;
	-webkit-border-top-left-radius:.5em;
	-webkit-border-top-right-radius:.5em;
	-webkit-border-bottom-left-radius:.5em;
	-webkit-border-bottom-right-radius:.5em;
	padding:.25em .375em;
	display: inline-block;
	border: #ccc solid .0999em;
	position: relative;
	top:-3.2em;
	margin-bottom: -3.2em;
	width: 3.5em;
	text-align: center;
}

/* table background colors 
efefef
e4e4e4
757575
*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide {
	display: none;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.left {
	float: left;
}
img.right {
	margin: .5em 1em;
	margin-right: 0;
}
.right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	text-align:center;	
}
.nobr {
	white-space:nowrap;
}