@import "../foundation.css";
@import "main";

/* Living StyleGuide*/

header {
	padding-top: 3em;
}

code {
	background-color: $grey;
}

/* Sections */

section {
	padding: 3em 0;
}



.colors {
    &__box {
    	height: 50px;
		width: 90px;
		border-radius: 5%;
		border: 1px solid black;
		padding: 1em .5em;
		    &--peach {
	    	background-color: $peach;
	    }
	        &--blue {
	    	background-color: $blue;
	    }
	        &--green {
	    	background-color: $green;
	    }
	        &--red {
	    	background-color: $red;
	    }
	        &--grey {
	    	background-color: $grey;
	    }
	        &--white {
	    	background-color: $white;
	    }
    }
}

/* Typography */


/* Grid */

.grid {
	color: black;
	h3, p, .panel {
		text-align: center;
	}
	.peach {
		background-color: $peach;
		color: black;
		padding: 1.25rem;
		border: 1px solid black;
	}
	.blue {
		background-color: $blue;
		color: white;
	    padding: 1.25rem;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}


/* End Sections*/