@import url(../foundation.css);
/* COLORS */
/* Typography */
/* Gotham */
@font-face {
  font-family: 'Gotham';
  src: url("GOTHAM-L.otf") format("opentype"); }
/* Museo */
@font-face {
  font-family: 'Museo';
  src: url("Museo700-Regular.otf") format("opentype"); }
.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

h1 {
  font-family: "Museo" !important; }

h2 {
  font-family: "Gotham" !important; }
  @media only screen and (max-width: 40em) {
    h2 {
      font-size: 1.7rem !important; } }
  @media only screen and (min-width: 40.063em) {
    h2 {
      font-size: 3.5rem !important; } }

p {
  font-size: .85rem !important; }
  p .strong {
    font-size: 1rem !important;
    font-family: "Gotham" !important; }

small {
  font-size: 60%;
  line-height: inherit; }

/* Living StyleGuide*/
header {
  padding-top: 3em; }

code {
  background-color: #EBEBEB; }

/* Sections */
section {
  padding: 3em 0; }

.colors__box {
  height: 50px;
  width: 90px;
  border-radius: 5%;
  border: 1px solid black;
  padding: 1em .5em; }
  .colors__box--peach {
    background-color: #FFBC82; }
  .colors__box--blue {
    background-color: #008cba; }
  .colors__box--green {
    background-color: #43ac6a; }
  .colors__box--red {
    background-color: #f04124; }
  .colors__box--grey {
    background-color: #EBEBEB; }
  .colors__box--white {
    background-color: #ffffff; }

/* Typography */
/* Grid */
.grid {
  color: black; }
  .grid h3, .grid p, .grid .panel {
    text-align: center; }
  .grid .peach {
    background-color: #FFBC82;
    color: black;
    padding: 1.25rem;
    border: 1px solid black; }
  .grid .blue {
    background-color: #008cba;
    color: white;
    padding: 1.25rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }

/* End Sections*/

/*# sourceMappingURL=app.css.map */
