/* COLORS */
$peach: #FFBC82;
$blue: #008cba;
$green: #43ac6a;
$red: #f04124;
$grey: #EBEBEB;
$white: #ffffff;

/* Typography */

/* Gotham */
@font-face {
	font-family: 'Gotham';
	src: url('GOTHAM-L.otf') format('opentype'); }
/* Museo */
@font-face {
  font-family: 'Museo';
  src: url('Museo700-Regular.otf') format('opentype'); }		  
		  
$primary-font: 'Gotham';
$secondary-font: 'Museo';

.uppercase{
   text-transform: uppercase;
}
.lowercase {
   text-transform: lowercase;
}

h1 {
    font-family: $secondary-font !important;
}

h2 {
	font-family: $primary-font !important;
	@media only screen and (max-width: 40em) {
		font-size: 1.7rem !important;
		}
	@media only screen and (min-width: 40.063em) {
		font-size: 3.5rem !important;
		}
} 
p {
    font-size: .85rem !important;
    .strong{
        font-size: 1rem !important;
        font-family: $primary-font !important;
    }
}

small {
    font-size: 60%;
    line-height: inherit;
}