/* COLORS */
/* Typography */
/* Gotham */
@font-face {
  font-family: 'Gotham';
  src: url("GOTHAM-L.otf") format("opentype"); }
/* Museo */
@font-face {
  font-family: 'Museo';
  src: url("Museo700-Regular.otf") format("opentype"); }
.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

h1 {
  font-family: "Museo" !important; }

h2 {
  font-family: "Gotham" !important; }
  @media only screen and (max-width: 40em) {
    h2 {
      font-size: 1.7rem !important; } }
  @media only screen and (min-width: 40.063em) {
    h2 {
      font-size: 3.5rem !important; } }

p {
  font-size: .85rem !important; }
  p .strong {
    font-size: 1rem !important;
    font-family: "Gotham" !important; }

small {
  font-size: 60%;
  line-height: inherit; }

/*# sourceMappingURL=main.css.map */
